<div ng-app="formApp" ng-controller="formController" style="width:50%">
	
	<h1>Productos</h1>
	<div class="row" ng-repeat="producto in productos">
		<span class='col-md-4'>{{producto.id}}</span>
		<span class='col-md-4'>{{producto.nombre}}</span>
		<span class='col-md-4'>${{producto.precio}}</span>
	</div>

</div>
